In [2]:
import pandas as pd

df = pd.read_csv("../data/nfl_2024_passing_stats.csv")
df.head()

print(df.columns)

df["TD_INT_ratio"] = df["TD"] / df["Int"].replace(0, 1)

print(df["TD_INT_ratio"])

df.sort_values("TD_INT_ratio", ascending=False)

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional'],
      dtype='object')
0      4.777778
1      3.083333
2      2.562500
3      1.400000
4      2.916667
         ...
107    0.000000
108    0.000000
109    0.000000
110    0.000000
111         NaN
Name: TD_INT_ratio, Length: 112, dtype: float64

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Player-additional,TD_INT_ratio
5,6.0,Lamar Jackson,27.0,BAL,QB,17.0,17.0,12-5-0,316.0,474.0,...,23.0,149.0,4.63,8.09,9.38,2.0,2.0,PBAP-1AP MVP-2AP OPoY-2,JackLa00,10.250000
8,9.0,Justin Herbert,26.0,LAC,QB,17.0,17.0,11-6-0,332.0,504.0,...,41.0,244.0,7.52,6.65,7.25,1.0,2.0,AP MVP-9AP CPoY-12,HerbJu00,7.666667
39,40.0,Justin Fields,25.0,PIT,QB,10.0,6.0,4-2-0,106.0,161.0,...,16.0,124.0,9.04,5.55,5.86,0.0,1.0,NaN,FielJu00,5.000000
0,1.0,Joe Burrow,28.0,CIN,QB,17.0,17.0,9-8-0,460.0,652.0,...,48.0,278.0,6.86,6.63,7.28,1.0,2.0,PBAP MVP-4AP OPoY-5AP CPoY-1,BurrJo01,4.777778
13,14.0,Josh Allen,28.0,BUF,QB,17.0,17.0,13-4-0,307.0,483.0,...,14.0,63.0,2.82,7.38,7.96,0.0,2.0,PBAP-2AP MVP-1AP OPoY-6,AlleJo02,4.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,80.0,Jack Fox,28.0,DET,P,17.0,0.0,NaN,1.0,1.0,...,0.0,0.0,0.00,17.00,17.00,0.0,0.0,PBAP-1,FoxxJa01,0.000000
54,54.0,Tim Boyle,30.0,MIA,QB,2.0,0.0,NaN,15.0,26.0,...,1.0,9.0,3.70,5.33,5.33,0.0,0.0,NaN,BoylTi00,0.000000
83,82.0,Stefon Diggs,31.0,HOU,WR,8.0,8.0,NaN,1.0,1.0,...,0.0,0.0,0.00,13.00,13.00,0.0,0.0,NaN,DiggSt00,0.000000
110,109.0,Penei Sewell,24.0,DET,RT,17.0,17.0,NaN,0.0,0.0,...,1.0,1.0,100.00,-1.00,-1.00,0.0,0.0,PBAP-1AP OPoY-11,SewePe00,0.000000
111,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.87,6.19,6.13,NaN,NaN,NaN,-9999,NaN

In [6]:
df["Td_per_game"] = df["TD"] / df["G"]

In [7]:
df.dtypes

Rk                   float64
Player                object
Age                  float64
Team                  object
Pos                   object
G                    float64
GS                   float64
QBrec                 object
Cmp                  float64
Att                  float64
Cmp%                 float64
Yds                  float64
TD                   float64
TD%                  float64
Int                  float64
Int%                 float64
1D                   float64
Succ%                float64
Lng                  float64
Y/A                  float64
AY/A                 float64
Y/C                  float64
Y/G                  float64
Rate                 float64
QBR                  float64
Sk                   float64
Yds.1                float64
Sk%                  float64
NY/A                 float64
ANY/A                float64
4QC                  float64
GWD                  float64
Awards                object
Player-additional     object
TD_INT_ratio         float64
Td_per_game          float64
dtype: object

In [14]:
df.shape

(112, 36)

In [15]:
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio',
       'Td_per_game'],
      dtype='object')

In [16]:
df.dtypes

Rk                   float64
Player                object
Age                  float64
Team                  object
Pos                   object
G                    float64
GS                   float64
QBrec                 object
Cmp                  float64
Att                  float64
Cmp%                 float64
Yds                  float64
TD                   float64
TD%                  float64
Int                  float64
Int%                 float64
1D                   float64
Succ%                float64
Lng                  float64
Y/A                  float64
AY/A                 float64
Y/C                  float64
Y/G                  float64
Rate                 float64
QBR                  float64
Sk                   float64
Yds.1                float64
Sk%                  float64
NY/A                 float64
ANY/A                float64
4QC                  float64
GWD                  float64
Awards                object
Player-additional     object
TD_INT_ratio         float64
Td_per_game          float64
dtype: object

In [18]:
print(df.columns.tolist())

['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A', 'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio', 'Td_per_game']

In [26]:
df = df.rename(columns = {"Yds.1": "Sack_Yds"})
df.columns
print(df[["Player", "Cmp%", "Att", "Int%", "G", "TD%"]].head(6))

           Player  Cmp%    Att  Int%     G  TD%
0      Joe Burrow  70.6  652.0   1.4  17.0  6.6
1      Jared Goff  72.4  539.0   2.2  17.0  6.9
2  Baker Mayfield  71.4  570.0   2.8  17.0  7.2
3      Geno Smith  70.4  578.0   2.6  17.0  3.6
4     Sam Darnold  66.2  545.0   2.2  17.0  6.4
5   Lamar Jackson  66.7  474.0   0.8  17.0  8.6