In [5]:
import pandas as pd

df = pd.read_csv("../data/nfl_2024_passing_stats.csv")
df.head()

print(df.columns)

df["TD_INT_ratio"] = df["TD"] / df["Int"].replace(0, 1)

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional'],
      dtype='object')

In [6]:
df["Td_per_game"] = df["TD"] / df["G"]

In [3]:
df.dtypes

Rk                   float64
Player                object
Age                  float64
Team                  object
Pos                   object
G                    float64
GS                   float64
QBrec                 object
Cmp                  float64
Att                  float64
Cmp%                 float64
Yds                  float64
TD                   float64
TD%                  float64
Int                  float64
Int%                 float64
1D                   float64
Succ%                float64
Lng                  float64
Y/A                  float64
AY/A                 float64
Y/C                  float64
Y/G                  float64
Rate                 float64
QBR                  float64
Sk                   float64
Yds.1                float64
Sk%                  float64
NY/A                 float64
ANY/A                float64
4QC                  float64
GWD                  float64
Awards                object
Player-additional     object
TD_INT_ratio         float64
Td_per_game          float64
dtype: object

In [7]:
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio',
       'Td_per_game'],
      dtype='object')

In [8]:
print(df.columns.tolist())

['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A', 'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio', 'Td_per_game']

In [7]:
df = df.rename(columns = {"Yds.1": "Sack_Yds"})
df.columns
print(df[["Player", "Cmp%", "Att", "Int%", "G", "TD%"]].head(6))

           Player  Cmp%    Att  Int%     G  TD%
0      Joe Burrow  70.6  652.0   1.4  17.0  6.6
1      Jared Goff  72.4  539.0   2.2  17.0  6.9
2  Baker Mayfield  71.4  570.0   2.8  17.0  7.2
3      Geno Smith  70.4  578.0   2.6  17.0  3.6
4     Sam Darnold  66.2  545.0   2.2  17.0  6.4
5   Lamar Jackson  66.7  474.0   0.8  17.0  8.6

In [8]:
df.duplicated().sum()
df[df.duplicated()]

Empty DataFrame
Columns: [Rk, Player, Age, Team, Pos, G, GS, QBrec, Cmp, Att, Cmp%, Yds, TD, TD%, Int, Int%, 1D, Succ%, Lng, Y/A, AY/A, Y/C, Y/G, Rate, QBR, Sk, Sack_Yds, Sk%, NY/A, ANY/A, 4QC, GWD, Awards, Player-additional, TD_INT_ratio, Td_per_game]
Index: []

[0 rows x 36 columns]

In [9]:
df = df[df["Pos"] == "QB"]
df["Pos"].unique()
df["Player"].head(100)

0          Joe Burrow
1          Jared Goff
2      Baker Mayfield
3          Geno Smith
4         Sam Darnold
            ...
82       Josh Johnson
84       Tyson Bagent
85       Clayton Tune
87         Kyle Trask
107    Chris Oladokun
Name: Player, Length: 78, dtype: object

In [10]:
# function to only keep the totals of players who played on multiple teams and not their stats on each team so they only have one row
def keep_totals_only(df):
    duplicate_players = df["Player"][df["Player"].duplicated(keep=False)].unique()

    traded = df[df["Player"].isin(duplicate_players)]  # rows for traded players
    not_traded = df[~df["Player"].isin(duplicate_players)]

    traded_totals = traded[traded["Team"] == "TOT"]

    clean_df = pd.concat([not_traded, traded_totals], ignore_index=True)
    
    return clean_df

df = keep_totals_only(df)

In [11]:
df.isna().sum()

Rk                    0
Player                0
Age                   0
Team                  0
Pos                   0
G                     0
GS                    0
QBrec                16
Cmp                   0
Att                   0
Cmp%                  1
Yds                   0
TD                    0
TD%                   1
Int                   0
Int%                  1
1D                    0
Succ%                 1
Lng                   1
Y/A                   1
AY/A                  1
Y/C                   1
Y/G                   0
Rate                  1
QBR                   0
Sk                    0
Sack_Yds              0
Sk%                   0
NY/A                  0
ANY/A                 0
4QC                   0
GWD                   0
Awards               58
Player-additional     0
TD_INT_ratio          0
Td_per_game           0
dtype: int64

In [12]:
"Lng" in df.columns 
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Sack_Yds', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio',
       'Td_per_game'],
      dtype='object')

In [13]:
df["Awards"] = df["Awards"].fillna(0)
df.isna().sum()

Rk                    0
Player                0
Age                   0
Team                  0
Pos                   0
G                     0
GS                    0
QBrec                16
Cmp                   0
Att                   0
Cmp%                  1
Yds                   0
TD                    0
TD%                   1
Int                   0
Int%                  1
1D                    0
Succ%                 1
Lng                   1
Y/A                   1
AY/A                  1
Y/C                   1
Y/G                   0
Rate                  1
QBR                   0
Sk                    0
Sack_Yds              0
Sk%                   0
NY/A                  0
ANY/A                 0
4QC                   0
GWD                   0
Awards                0
Player-additional     0
TD_INT_ratio          0
Td_per_game           0
dtype: int64

In [9]:
import os
os.getcwd()

df.to_csv("../data/nfl_2024_clean.csv", index=False)

In [10]:
# start of exploratory data analysis
df.describe()

,Rk,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,TD_INT_ratio,Td_per_game
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,106.000000,111.000000,111.000000,106.000000,...,100.000000,111.000000,111.000000,112.000000,112.000000,112.000000,111.000000,111.000000,111.000000,111.000000
mean,54.981982,28.009009,10.639640,7.468468,105.009009,160.909910,61.426415,1146.846847,7.297297,5.910377,...,44.030000,11.855856,77.936937,10.816161,5.849464,5.780714,0.594595,0.792793,1.246413,0.633362
std,31.321205,3.998853,5.715677,6.630261,134.919605,201.749735,27.810201,1497.383112,10.753092,16.987373,...,30.089196,15.666320,104.550838,22.460944,6.226125,8.647654,1.106825,1.382469,1.649896,0.715162
min,1.000000,21.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-10.000000,-45.000000,0.000000,0.000000,0.000000,0.000000
25%,28.500000,25.000000,5.500000,1.000000,1.000000,1.000000,57.800000,15.000000,0.000000,0.000000,...,17.525000,0.000000,0.000000,0.000000,3.532500,3.000000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,27.000000,11.000000,7.000000,25.000000,41.000000,65.000000,257.000000,1.000000,3.100000,...,46.700000,3.000000,22.000000,5.195000,5.510000,5.230000,0.000000,0.000000,1.000000,0.333333
75%,81.500000,30.000000,17.000000,15.000000,188.000000,298.500000,70.575000,2057.500000,12.000000,4.575000,...,64.650000,21.000000,133.000000,8.892500,6.667500,7.132500,1.000000,1.000000,2.000000,1.176471
max,109.000000,41.000000,17.000000,17.000000,460.000000,652.000000,100.000000,4918.000000,43.000000,100.000000,...,100.000000,68.000000,466.000000,100.000000,35.000000,35.000000,5.000000,7.000000,10.250000,2.529412

In [11]:
!pip show seaborn

Name: seaborn
Version: 0.13.2
Summary: Statistical data visualization
Home-page:
Author:
Author-email: Michael Waskom <mwaskom@gmail.com>
License:
Location: /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages
Requires: matplotlib, numpy, pandas
Required-by:

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt