In [5]:
import pandas as pd

df = pd.read_csv("../data/nfl_2024_passing_stats.csv")
df.head()

print(df.columns)

df["TD_INT_ratio"] = df["TD"] / df["Int"].replace(0, 1)

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional'],
      dtype='object')

In [6]:
df["Td_per_game"] = df["TD"] / df["G"]

In [7]:
df.dtypes

Rk                   float64
Player                object
Age                  float64
Team                  object
Pos                   object
G                    float64
GS                   float64
QBrec                 object
Cmp                  float64
Att                  float64
Cmp%                 float64
Yds                  float64
TD                   float64
TD%                  float64
Int                  float64
Int%                 float64
1D                   float64
Succ%                float64
Lng                  float64
Y/A                  float64
AY/A                 float64
Y/C                  float64
Y/G                  float64
Rate                 float64
QBR                  float64
Sk                   float64
Yds.1                float64
Sk%                  float64
NY/A                 float64
ANY/A                float64
4QC                  float64
GWD                  float64
Awards                object
Player-additional     object
TD_INT_ratio         float64
Td_per_game          float64
dtype: object

In [8]:
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A',
       'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio',
       'Td_per_game'],
      dtype='object')

In [10]:
print(df.columns.tolist())

['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A', 'ANY/A', '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio', 'Td_per_game']

In [11]:
df = df.rename(columns = {"Yds.1": "Sack_Yds"})
df.columns
print(df[["Player", "Cmp%", "Att", "Int%", "G", "TD%"]].head(6))

           Player  Cmp%    Att  Int%     G  TD%
0      Joe Burrow  70.6  652.0   1.4  17.0  6.6
1      Jared Goff  72.4  539.0   2.2  17.0  6.9
2  Baker Mayfield  71.4  570.0   2.8  17.0  7.2
3      Geno Smith  70.4  578.0   2.6  17.0  3.6
4     Sam Darnold  66.2  545.0   2.2  17.0  6.4
5   Lamar Jackson  66.7  474.0   0.8  17.0  8.6

In [15]:
df.duplicated().sum()
df[df.duplicated()]

Empty DataFrame
Columns: [Rk, Player, Age, Team, Pos, G, GS, QBrec, Cmp, Att, Cmp%, Yds, TD, TD%, Int, Int%, 1D, Succ%, Lng, Y/A, AY/A, Y/C, Y/G, Rate, QBR, Sk, Sack_Yds, Sk%, NY/A, ANY/A, 4QC, GWD, Awards, Player-additional, TD_INT_ratio, Td_per_game]
Index: []

[0 rows x 36 columns]

In [12]:
df = df[df["Pos"] == "QB"]
df["Pos"].unique()
df["Player"].head(100)

0          Joe Burrow
1          Jared Goff
2      Baker Mayfield
3          Geno Smith
4         Sam Darnold
            ...
82       Josh Johnson
84       Tyson Bagent
85       Clayton Tune
87         Kyle Trask
107    Chris Oladokun
Name: Player, Length: 78, dtype: object

In [13]:
# function to only keep the totals of players who played on multiple teams and not their stats on each team so they only have one row
def keep_totals_only(df):
    duplicate_players = df["Player"][df["Player"].duplicated(keep=False)].unique()

    traded = df[df["Player"].isin(duplicate_players)]  # rows for traded players
    not_traded = df[~df["Player"].isin(duplicate_players)]

    traded_totals = traded[traded["Team"] == "TOT"]

    clean_df = pd.concat([not_traded, traded_totals], ignore_index=True)
    
    return clean_df

df = keep_totals_only(df)

In [17]:
df.isna().sum()

Rk                    0
Player                0
Age                   0
Team                  0
Pos                   0
G                     0
GS                    0
QBrec                15
Cmp                   0
Att                   0
Cmp%                  0
Yds                   0
TD                    0
TD%                   0
Int                   0
Int%                  0
1D                    0
Succ%                 0
Lng                   0
Y/A                   0
AY/A                  0
Y/C                   0
Y/G                   0
Rate                  0
QBR                   0
Sk                    0
Yds.1                 0
Sk%                   0
NY/A                  0
ANY/A                 0
4QC                   0
GWD                   0
Awards               57
Player-additional     0
TD_INT_ratio          0
Td_per_game           0
dtype: int64

In [28]:
"Lng" in df.columns 
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Y/A', 'AY/A',
       'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A', 'ANY/A',
       '4QC', 'GWD', 'Awards', 'Player-additional', 'TD_INT_ratio',
       'Td_per_game'],
      dtype='object')

In [30]:
df["Awards"] = df["Awards"].fillna(0)
df.isna().sum()

Rk                    0
Player                0
Age                   0
Team                  0
Pos                   0
G                     0
GS                    0
QBrec                15
Cmp                   0
Att                   0
Cmp%                  0
Yds                   0
TD                    0
TD%                   0
Int                   0
Int%                  0
1D                    0
Succ%                 0
Y/A                   0
AY/A                  0
Y/C                   0
Y/G                   0
Rate                  0
QBR                   0
Sk                    0
Yds.1                 0
Sk%                   0
NY/A                  0
ANY/A                 0
4QC                   0
GWD                   0
Awards                0
Player-additional     0
TD_INT_ratio          0
Td_per_game           0
dtype: int64